.form-body{
    /*width:80%;*/
    margin: 30px auto 0;
    padding: 20px;
    border: 1px solid #dedede;
}
.form-body .item{
    padding-bottom: 10px;
    line-height: 35px;
}
.form-body .item span{
    color: red;
}
.form-body .item input{
    font-size: 16px;
    width: 90%;
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid #dedede;
}
.form-body .item textarea{
    font-size: 16px;
    width: 90%;
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid #dedede;
}
.form-body .footer{
    margin-top: 20px;
    text-align: center;
}
.form-body .footer .btn{
    width: 60%;
}