
a{
  color: #000000;
}
.welcome{
  font-size: 14px;
  color: #178eea;
}
.header{
  float: right;
  text-align: right;
}
.header img{
  width: 20px;
  height: 35px;
}
.header .home-list{
  z-index: 99;
  display: none;
  line-height: 1.5;
  position: absolute;
  background: #fff;
  right: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}
.header .home-list li{
  width: 80px;
  line-height: 30px;
  border-bottom: 1px solid #d6d6d6;
}
.header .home-list li:last-child{
  border: none;
}
.header .home-list a{
  padding-right: 10px;
}
.message-notify{
  width: fit-content;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 14px;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.message-success{
  background: #ddeedd78;
}
.message-error{
  background: #eee4ddba;
}

button{
  width: 80px;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  background: #71ba8f;
  color: #fff;;
  border-radius: 5px;
}
